<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Coins</title>
      <style>
          .detail-spacer{
              margin-top:40px;
              margin-bottom:80px;
              padding: 10px;
              border-style: solid;
              border-width: 1px;
              border-color: lightgray;
          }
      </style>
      {{ js_resources | indent(4) | safe }}
      {{ css_resources| indent(4) | safe }}
      {{ plot_script0 | indent(4) | safe }}
      {{ plot_script1 | indent(4) | safe }}
      {{ plot_script2 | indent(4) | safe }}
      {{ plot_script3 | indent(4) | safe }}
  </head>
  <body>
      <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
                {{ plot_div0 | safe }}
                {{ plot_div1 | safe }}
                {{ plot_div2 | safe }}
                {{ plot_div3 | safe }}
            </div>
            <div class="col-sm-4">
              {% for c in current %}
                <div class="detail-spacer">
                    <h5>{{ c[0]['symbol'] | safe }}</h5>
                    Price USD: $ {{ c[0]['price_usd'] | safe }}               <br />
                    {% if c[0]['name'] != "Bitcoin" %}
                    Price BTC:   {{ c[0]['price_btc'] | safe }}               <br />
                    {% endif %}
                    24 H  Change: {{ c[0]['percent_change_24h'] | safe }}%   <br />
                    7 D   Change: {{ c[0]['percent_change_7d'] | safe }}%    <br />
                    Max Supply:  {{ c[0]['max_supply'] | safe }}              <br />
                    Available Supply: {{ c[0]['available_supply'] | safe }}   <br />
                    24 h volume: ${{ c[0]['24h_volume_usd'] | safe }}        <br />
                    Market Cap:  ${{ c[0]['market_cap_usd'] | safe }}        <br />
                </div>
              {% endfor %}
            </div>
        </div>
      </div>

  </body>
</html>