<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <title>SP500</title>
    {{ js_resources|indent(4)|safe }}
    {{ css_resources|indent(4)|safe }}
    {{ plot_script|indent(4)|safe }}
    <style>
      /* to avoid 100% default width of table's container */
      .table-nonfluid {
        width: auto !important;
      }
      .container-small, .container-large {
        max-width: 100%;
      }
      .too-long {
         position: absolute;
         overflow-y: scroll;
         height: 100%;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-8 col-sm-push-4">
          {{ plot_div|indent(4)|safe }}
          <div class="container-small">
            Last record:
            {% if 'peak' in last_record %}
              <p class="bg-success w-25 p-3">This is a new peak!</p>
            {% elif '% down from peak' in last_record %}
              <p class="bg-warning w-25 p-3">
                Down {{ last_record['% down from peak'] }}% from last peak of {{ last_record['last peak'] }}
              </p>
            {% endif %}
            <br>  Date: {{ last_record['date'] | stringifier }}
            <br>  Value: {{ last_record['value'] }}
            {% if 'alert' in last_record %}
              <p class="bg-danger w-25 p-3">alert!</p>
            {% endif %}
            </div>
        </div>
        <div class="col-sm-4 col-sm-pull-8 too-long">
          <h5>Past data:</h5>
            <p>There have been {{ length }} days since {{ start }} when S&P500 value dropped below 10% of its last peak</p>
            {{data | safe}}
          </div>
        </div>

      </div>


  </body>
</html>